<div class="menu-left">
  <div class="finpal-innerleft-container">
    <div class="menu-left-item">
      <div>
        Overview
      </div>
      <div>
        {{#link-to "transactions"}}transactions{{/link-to}}
      </div>
    </div>
  </div>
</div>