<div class="menu-left">
  <div class="menu-left__item-container">
    <div class="finpal-innerleft-container">
      <div class="menu-left__item">
        <div>
          Overview
        </div>
        <div>
          {{#link-to "transactions"}}transactions{{/link-to}}
        </div>
      </div>
    </div>
  </div>

  <div class="menu-left__item-container">
    <div class="finpal-innerleft-container">
      <div class="menu-left__item">
        <div>
          Transfers
        </div>
        <div>
          Invoice
        </div>
      </div>
    </div>
  </div>

  <div class="menu-left__item-container">
    <div class="finpal-innerleft-container">
      <div class="menu-left__item">
        <div>
          Manage Card
        </div>
        <div>
          Manage Account
        </div>
      </div>
    </div>
  </div>

  <div class="menu-left__item-container">
    <div class="finpal-innerleft-container">
      <div class="menu-left__item">
        <div>
          Team
        </div>
        <div>
          Integration
        </div>
        <div>
          Settings
        </div>
      </div>
    </div>
  </div>

</div>