
<div class="grid-3">
    <div class="one-quarter">
      {{finpal-title}}
    </div>
    <div class="one-half">
      {{top-header}}
    </div>
    <div class="one-quarter">
      ...
    </div>
</div>
<div class="grid-3">
    <div class="one-quarter">
      {{menu-left}}
    </div>
    <div class="one-half">{{outlet}}</div>
    <div class="one-quarter">...</div>
</div>





